
<h5 class="mb-4">Site Summary</h5>
<div id='siteSummary' class="d-flex flex-wrap justify-content-center border-left border-right" style="margin-bottom: 6rem;">
    <div class="card text-white bg-dark  my-3 mx-2" style="max-width: 15rem; max-height: 10rem;">
        <div class="card-header">Shop Balance</div>
        <div class="card-body">
            <h6 class="card-title">Total shop balance to withdraw</h6>
            <p class="card-text badge badge-pill badge-danger" id="AvailableBalanceInAllShops"></p>
        </div>
    </div>

    <div class="card text-white bg-secondary  my-3 mx-2" style="max-width: 15rem; max-height: 10rem">
        <div class="card-header">Profit</div>
        <div class="card-body">
            <h6 class="card-title">Total comission from sales</h6>
            <p class="card-text badge badge-pill badge-danger" id="totalComission"></p>
        </div>
    </div>

    <div class="card text-white bg-dark  my-3 mx-2" style="max-width: 15rem; max-height: 10rem;">
        <div class="card-header">Seller Withdrawed</div>
        <div class="card-body">
            <h6 class="card-title">Balance withdrawed by shop owners</h6>
            <p class="card-text badge badge-pill badge-danger" id="sellerWithdrawedMoney"></p>
        </div>
    </div>

    <div class="card text-white bg-secondary  my-3 mx-2" style="max-width: 15rem; max-height: 10rem;">
        <div class="card-header">Admin Withdrawed</div>
        <div class="card-body">
            <h6 class="card-title">Balance withdrawed by admin</h6>
            <p class="card-text badge badge-pill badge-danger" id="adminWithdrawedMoney"></p>
        </div>
    </div>
</div>



<h5 class="mb-5">Orders in Last Week</h5>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<canvas id="orderChart" width="200" height="50"></canvas>

<script type="text/javascript" src="../../js/admin/home.js"></script>

