<h5>Product Ratings</h5>
<div class="d-flex justify-content-center justify-content-lg-end mb-5">
    <div><canvas id="myChart" width="400" height="200" class=""></canvas></div>
</div>


<h5 class="mt-5 mb-4">Product Details</h5>
<div class="container">
    <div class="col-md-2 px-0 mb-3">
        <img src="" id='productImage' class="img-thumbnail">
    </div>
    <table class="mt-5">
        <tr>
            <th>Name:</th>
            <td id="productName"></td>
        </tr>
        <tr>
            <th>Unit Price:</th>
            <td id="unitPrice"></td>
        </tr>
        <tr>
            <th>In Stock:</th>
            <td id="quantity"></td>
        </tr>
        <tr>
            <th>Category:</th>
            <td id="categoryName"></td>
        </tr>
        <tr>
            <th>Status:</th>
            <td class='text-danger' id="productStatus"></td>
        </tr>
        <tr>
            <th>Shop:</th>
            <td id="shopName"></td>
        </tr>
        <tr>
            <th>Last Added:</th>
            <td id="productAddedDate"></td>
        </tr>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
