@model IEnumerable<webBuy.Models.ViewModel.ReviewProductShopView>
@{
    ViewBag.Title = "Product Reviews";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="d-flex justify-content-between">
    <h5>Product Reviews</h5>
    <div class="form-group row col-md-4">
        <label class="col-form-label mr-3">Rating Order: </label>
        <select id="orderBy" class="form-control form-control-sm w-50 mt-1" name="orderBy">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
    </div>
</div>
<table class="table table-hover">
    <thead class="">
        <tr>
            <th scope="col">#ProductId</th>
            <th scope="col">Product</th>
            <th scope="col">Review</th>
            <th scope="col">Rating</th>
            <th scope="col">UserId</th>
            <th scope="col">Shop</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody id="body">
        @foreach (var item in Model)
        {
        <tr>
            <th scope="row">@item.ProductId</th>
            <td>@item.ProductName</td>
            <td>@item.Review</td>
            <td>@item.Rating</td>
            <td>@item.UserId</td>
            <td>@item.ShopName</td>
            <td><a href="/Admin/GetProductDetailsWithRatingShopName/@item.ProductId">Details</a></td>
        </tr>
        }

        </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#orderBy").change(function () {
           var orderBy = this.value;

            var xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var res=JSON.parse(this.responseText);
                    var data = '';
                    for (item = 0; item < res.length; item++) {
                        data+="<tr>"+
                            "<th scope='row'>" +res[item].ProductId+"</th>"
                            +"<td>"+res[item].ProductName+"</td>"
                            + "<td>" + res[item].Review+"</td>"
                            + "<td>" + res[item].Rating+"</td>"
                            + "<td>" + res[item].UserId+"</td>"
                            + "<td>" + res[item].ShopName+"</td>"
                            + "<td><a href='/Admin/GetProductDetailsWithRatingShopName/" +res[item].ProductId+"'>Details</a></td>"
                        "</tr>"
                    }
                    $("#body").html(data);
                }
            };
            xmlhttp.open("GET", "/Admin/GetAllProductReviewsOrderByDesc?order=" + orderBy, true);
            xmlhttp.send();
        });
    });

</script>