@model IEnumerable<webBuy.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h5>Users</h5>

<p class="mb-2 float-right h6">
    <a href="GetAllUsers" class="mx-2"><i class="fas fa-users"></i> All Users</a> |
    <a href="GetBannedUsers" class="mx-2"><i class="fas fa-user-slash"></i> Banned Users</a>
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Address
        </th>
        <th>
            Role
        </th>
        <th>
            Status
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role)
        </td>
        <td>
            @if (item.userStatus==0) {<text>Banned</text>}else { <text>Unbaned</text>}
        </td>
        <td>
            @if (item.userStatus == 1)
            {
                <text><a class="text-success h4 mx-1" href="/Admin/BanUser/@item.userId"><i class="fas fa-check-circle"></i></a> </text>
            }
            else
            {
                <text><a class="text-danger h4 mx-1" href="/Admin/UnbanUser/@item.userId"><i class="fas fa-ban"></i></a></text>
            }
        </td>
    </tr>
}

</table>
